:root {
  --blue-background: blue;
  --yellow-header: yellow;
  --colortext: white;
}

/*MAIN*/
/*banner*/
.banner,
.banner img {
  height: 80vh;
  width: 99vw;
}

/*contenido*/
.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.enlaces,
.noticia {
  margin-top: 10px;
  height: 100%;
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
}
/*FIN DE MAIN*/
