/* inscripcionDesplazamiento.css */
header button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 65vh;
  }
  
  main h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  main form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main p {
    margin-bottom: 10px;
  }
  
  main label {
    margin-bottom: 10px;
  }
  
  main input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  main button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }